<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Create Person</title>
</head>
<body bgcolor="cyan">
	<form action="/persons/" method="POST">
		PersonID: <input type="text" name="PersonID"><br>
		FirstName: <input type="text" name="FirstName"><br>
		LastName: <input type="text" name="LastName"><br>
		Address: <input type="text" name="Address"><br>
		City: <input type="text" name="City"><br>
				<input type="submit" name="submit">
	</form>

</body>
</html>